html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif
}
/*/Home/Index*/
.greeting-container {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.9rem;
}

/*/Book/All*/
#header {
    width: 100%;
    height: 60px;
}

#filter-btn {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#sort select {
    height: 100%;
    outline: none;
    padding: 7px 0px;
    color: #6c757d;
    border-color: #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
}

#filterbar {
    width: 30%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    float: left
}

    #filterbar input[type="radio"] {
        visibility: hidden
    }

        #filterbar input[type='radio']:checked {
            background-color: #16c79a;
            border: none
        }

#apply {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#reset {
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

#filterbar label {
    cursor: pointer
}

.box {
    padding: 10px
}

.box-label {
    color: #11698e;
    font-size: 0.9rem;
    font-weight: 800;
}

#authors-box, #categories-box {
    height: 150px;
    overflow-y: scroll
}

    #authors-box::-webkit-scrollbar, #categories-box::-webkit-scrollbar {
        width: 6px
    }

    #authors-box::-webkit-scrollbar-track, #categories-box::-webkit-scrollbar-track {
        background-color: #ddd;
        border-radius: 2px
    }

    #authors-box::-webkit-scrollbar-thumb, #categories-box::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 2px
    }

.img-container {
    height: 293px;
    width: auto;
    display: flex;
    justify-content: center;
}

    .img-container img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }


.middle {
    position: relative;
    width: 100%;
    margin-top: 15px
}

.slider {
    position: relative;
    z-index: 1;
    height: 5px;
    margin: 0 15px
}

    .slider > .track {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: #ddd
    }

    .slider > .range {
        position: absolute;
        z-index: 2;
        left: 25%;
        right: 25%;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        background-color: #198754
    }

    .slider > .thumb {
        position: absolute;
        top: 2px;
        z-index: 3;
        width: 20px;
        height: 20px;
        background-color: #198754;
        border-radius: 50%;
        box-shadow: 0 0 0 0 rgba(63, 204, 75, 0.705);
        transition: box-shadow .3s ease-in-out
    }

        .slider > .thumb::after {
            position: absolute;
            width: 8px;
            height: 8px;
            left: 28%;
            top: 30%;
            border-radius: 50%;
            content: '';
            background-color: #fff
        }

        .slider > .thumb.left {
            left: 25%;
            transform: translate(-15px, -10px)
        }

        .slider > .thumb.right {
            right: 25%;
            transform: translate(15px, -10px)
        }

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0
}

    input[type=range]::-webkit-slider-thumb {
        pointer-events: all;
        width: 30px;
        height: 30px;
        border-radius: 0;
        border: 0 none;
        background-color: red;
        -webkit-appearance: none
    }

.page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
    color: white !important;
}

@media(min-width:1200px) {
    #filterbar {
        width: 25%
    }
}

@media(max-width:1200px) {
    #filterbar {
        width: 28%
    }
}

@media(max-width: 991px) {
    #filterbar {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    #header {
        justify-content: normal !important;
        height: auto !important;
    }

    #searchAndSort {
        display: block !important;
        height: auto !important;
        width: 100% !important;
    }

    #search {
        width: auto !important;
    }

    #sort {
        width: auto !important;
        display: flex !important;
        vertical-align: central !important;
    }

        #sort select {
            width: 100% !important;
        }

        #sort label {
            white-space: nowrap !important;
            padding: 10px !important;
        }

    #header {
        height: 108px !important;
    }
}

@media(min-width: 992px) {
    #entities .row {
        justify-content: normal !important;
    }
}

@media(max-width: 767px) {
}

@media(max-width: 315px) {
    #filter-btn {
        font-size: 9px;
    }
}


/*_BookPartial*/
/*_AuthorPartial*/
.entity-card {
    cursor: pointer;
    transition: .3s all ease-in-out;
    border: hidden !important;
}

    .entity-card p, .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1em;
        height: 2em;
    }

    .entity-card:hover {
        box-shadow: 2px 2px 15px #b7b7b7;
    }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
