@model AuthorViewModel
@inject IImageService imageService

<div class="my-3 col-md-8 col-lg-6 col-xl-4">
	<a class="text-decoration-none text-reset" asp-controller="Author" asp-action="Details" asp-route-id="@Model.Id">
		<div class="card text-black entity-card">
			<div class="text-center img-container">
				<img class="p-3" src="~/Images/Authors/@(imageService.GetAuthorImageNameById(Model.ImageId))" alt="@Model.Name" />
			</div>
			<div class="card-body text-center">
				<h5 class="card-title">@Model.Name</h5>
				<p class="text-muted mb-4">@Model.Description</p>
			</div>
		</div>
	</a>
</div>
