@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICartService cartService
<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.GetUserAsync(User);
		string name = $"{user.FirstName} {user.LastName}";

		<li class="nav-item px-1">
			<a class="nav-link text-white" asp-controller="Book" asp-action="Favorite">
				<i class="bi bi-heart-fill" style="font-size: 1.2rem;"></i>
				<span>Favorite</span>
			</a>
		</li>
		<li class="nav-item px-1" >
			@{
				var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
			}
			<a class="nav-link text-white" asp-controller="Cart" asp-action="Index">
				<i class="bi bi-cart-fill" style="font-size: 1.2rem;"></i>
				<span>Cart(@(await cartService.CountAsync(userId)))</span>
			</a>
		</li>
		<li class="nav-item px-1">
			<a class="nav-link text-white" asp-controller="User" asp-action="Account">
				<i class="bi bi-person-fill" style="font-size: 1.2rem;"></i>
				<span>Account</span>
			</a>
		</li>
		@*
	<li class="nav-item">
	<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
	<button type="submit" class="nav-link btn btn-link text-white">Logout</button>
	</form>
	</li>*@
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
