@{
    ViewData["Title"] = "Error";
}

<h1 class="display-4">404 Page Not Found</h1>
<p class="lead">Oops! The page you're looking for could not be found.</p>
<p class="text-muted">Please check the URL or navigate back to the homepage.</p>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success">Go to Homepage</a>