    @{
    ViewData["Title"] = "Error";
}

<h1 class="display-4">500 Internal Server Error</h1>
<p class="lead">Oops! Something went wrong on our end. Please try again later.</p>
<p class="text-muted">If you continue to experience issues, please contact our support.</p>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success">Go to Homepage</a>