@model ICollection<HomeBookViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<div style="padding: 2rem 1rem; margin-bottom: 2rem; background-color: #e9ecef; border-radius: 0.9rem;">
	<div class="container">
		<h1 class="display-3">Welcome to  LibraNET!</h1>
		<p>Embark on a captivating journey through an online library brimming with an expansive collection of books. Unveil mesmerizing covers, renowned authors, and enticing summaries, empowering you to choose the perfect book to ignite your imagination.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">View all »</a></p>
	</div>
</div>

<div class="container py-2">
	<h2 class="display-5 text-center">
		New books
	</h2>
	<hr />
	<div class="row justify-content-center py-3">
		@foreach (var book in Model)
		{
			<div class="col-md-8 col-lg-6 col-xl-4 py-1">
				<div class="card" style=" margin-bottom: 2rem; background-color: #e9ecef; border-radius: 0.9rem;">
					<div class="text-center mt-5 mb-3">
						<img src="~/Images/Books/@(book.ImageId).jpg" style="height: 400px; width:auto" class="card-img-top" />
					</div>
					<div class="card-body">
						<h2 class="card-title text-center">@book.Title</h2>
						<p class="card-text">@(book.Description.Substring(0, 230))...</p>
						<p>
							<a class="btn btn-secondary" asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" role="button">View details »</a>
						</p>
					</div>
				</div>
			</div>
		}
	</div>
</div>
