@model ICollection<BookViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<div class="greeting-container">
	<div class="container">
		<h1 class="display-3">Welcome to  LibraNET!</h1>
		<p>Embark on a captivating journey through an online library brimming with an expansive collection of books. Unveil mesmerizing covers, renowned authors, and enticing summaries, empowering you to choose the perfect book to ignite your imagination.</p>
		<p><a class="btn btn-success btn-lg" asp-controller="Book" asp-action="All">View all »</a></p>
	</div>
</div>

<div class="container py-2">
	<h2 class="display-5 text-center">
		New books
	</h2>
	<hr />
	<div class="row justify-content-center py-3">
		@foreach (var book in Model)
		{
			<partial name="_BookPartial" model="book"></partial>
		}
	</div>
</div>
