@model ICollection<BookCartViewModel>
@inject ICartService cartService
@{
	ViewData["Title"] = "Cart";
}
<div class="h-100 rounded" style="background-color: #eee;">
	<div class="container h-100 py-5">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-10">
				<div class="d-flex justify-content-between align-items-center mb-4">
					@{
						var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
					}
					<h3 class="fw-normal text-dark fw-bold">Shopping Cart(@(await cartService.CountAsync(userId)))</h3>
				</div>
				@if (Model.Count > 0)
				{
					@foreach (var book in Model)
					{
						<partial name="_BookCartPartial" model="@book"></partial>
					}
					<div class="card mb-4">
						<div class="card-body">
							<h3>Total: $@(Model.Sum(b => b.TotalPrice))</h3>
						</div>
					</div>
				}
				else
				{
					<div class="card mb-4">
						<div class="card-body">
							<h3 class="text-center">Your cart is empty!</h3>
						</div>
					</div>
				}
				<div class="card">
					<div class="card-body">
						<a class="btn btn-success w-100 btn-lg @(Model.Count > 0 ? "" : "disabled")" asp-controller="Cart" asp-action="Checkout">Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/js/Cart/Index.js" asp-append-version="true"></script>
}